.myDiv {

    background-image: url(images.jpeg);
    
    
    text-align: center;
  }
  .kot{
    height:150px ;
    width: 300px; 
  }
.main{
  display: flex;
  justify-content: space-between;
}
  li{
    list-style-type: none;
    padding-right: 50px;
    color: black;
  }
  
  .kot{
    height:100px ;
    width: 200px; ;
  }
.main{
  display: flex;
  justify-content: space-between;

}
  li{
    list-style-type: none;
    padding-right: 50px;
  }
  ol{
    display: flex;
    justify-content: space-between;
  }
  ol{
    display:flex;
    list-style: none;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 50px;
}
 
.main2{
  display: flex;
  justify-content: space-between;
}
.main3{
  display: flex;
  justify-content: space-between;

}
.lom{
  display: flex;
  justify-content: space-between;
  padding-right: 50px;

}
.cl{
  width: 120px;
  height: 100px;
  
}
.ho{
width:120px ;
height:100px ;
}
.su{
  width:120px ;
height:100px ;
}
.sa{
  width:120px ;
height:100px ;
}
.row{
  display:flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 30px;
  background-image: url(crowd-1056764__340.webp);
}
h1{
  color: rgb(15, 15, 15);
}
h2{
  color:white;
}
h3{
  color: rgb(239, 255, 11);
}
.loop{
  color:black;
  border-radius: 40px;
  height: 40px;
  width: 100px;
  
  
}